- questions.each do |question|
  .row
    .question
      .col-md-1
        .circle
          = question.answers.size
        answers
      .col-md-11
        %span.title
          = link_to(question.title, question)
        %br
        -#%span.body
        -#  = question.body
        .footer
          = render 'shared/tags', question: question
          %span.user
            by
            = link_to question.user.email, user_path(question.user)
          %span.answers-count
            |
            = link_to "#{pluralize(question.answers.size,'answers')}", question
        %hr