= provide(:title, 'Questions')

- @questions.each do |question|
  .question
    %span.title
      = link_to(question.title, question)
    %br
    %span.body
      = question.body
    .footer
      .tags
        - question.tags.each do |tag|
          = tag.tag_name
      %span.user
        by
        = link_to question.user.email, user_path(question.user)
      %span.answers-count
        |
        = link_to "#{pluralize(question.answers.count,'answers')}", question
    %hr