= simple_form_for :search, { url: '/search', method: :get} do |f|
  .form-group.form-inline
    = f.input :q, placeholder: 'search', input_html: {name: 'q', value: @form_state[:q]}, label: false
    = f.button :submit, 'Go'
  .form-group.form-inline
    = f.input :question, as: :boolean, label: 'questions', input_html: {name: 'question', checked: @form_state[:question] == '1'}
    = f.input :answer, as: :boolean, label: 'answers', input_html: {name: 'answer', checked: @form_state[:answer] == '1'}
    = f.input :comment, as: :boolean, label: 'comments', input_html: {name: 'comment', checked: @form_state[:comment] == '1'}
    = f.input :user, as: :boolean, label: 'users', input_html: {name: 'user', checked: @form_state[:user] == '1'}
%hr
- if @result.has_key?(Question)
  %h4 Questions
  %ul
  - @result[Question].each do |question|
    %li
      %strong
        = link_to question.title, question
      %br
      = question.body
- if @result.has_key?(Answer)
  %h4 Answers
  %ul
  - @result[Answer].each do |answer|
    %li
      %strong
        = link_to answer.question.title, question_answers_path(answer.question)
      %br
      = answer.body
- if @result.has_key?(Comment)
  %h4 Comments
  %ul
  - @result[Comment].each do |comment|
    %li
      %strong
        = link_to comment.question.title, question_answers_path(comment.question)
      %br
      = comment.body
- if @result.has_key?(User)
  %h4 Users
  %ul
  - @result[User].each do |user|
    %li
      = link_to user.screen_name, user_path(user)
= will_paginate @search_result, renderer: BootstrapPagination::Rails
- if @result.empty?
  %h4 Your search returned no matches.