= image_tag @user.avatar.url

%p
  %span.vote-form
    = link_to '+', upvote_user_path(@user), class: 'btn btn-default btn-xs vote', method: :patch, remote: true
    %span.vote{data: { resource: 'user', id: @user.id }} #{@user.total_points}
    = link_to '-', downvote_user_path(@user), class: 'btn btn-default btn-xs vote', method: :patch, remote: true
%p
  %b Screen Name:
  = @user.screen_name
%p
  %b Email:
  = @user.email

.row.stats
  .col-md-3
    .circle #{@user.questions.size}
    questions
  .col-md-3
    .circle #{@user.answers.size}
    answers
  .col-md-3
    .circle #{@user.comments.size}
    comments
  .col-md-3
    .circle 0
    reputation

= render 'questions/questions', questions: @user.questions
