= image_tag @user.avatar.url

%p
  %b Email:
  = @user.email

.row.stats
  .col-md-3
    .circle #{@user.questions.size}
    questions
  .col-md-3
    .circle #{@user.answers.size}
    answers
  .col-md-3
    .circle #{@user.comments.size}
    comments
  .col-md-3
    .circle 0
    reputation

= render 'questions/questions', questions: @user.questions
