%h2{style: 'background-color:#bbb;color:#fff; padding: 5px 5px;'} #{@question.answers.size} answers
- @question.answers.each do |answer|
  %p
    = answer.body
    = render 'attachments', resource: answer
    .answer-footer
      %span.user
        = link_to answer.user.screen_name, user_path(answer.user)
      - if current_user == answer.user
        |
        = link_to 'edit', edit_answer_path(answer), data: { question_id: @question.id }, remote: true
        |
        = link_to 'x', answer, data: {question_id: @question.id}, method: :delete, data: { confirm: 'You sure?' }
    = render 'comments', parent: answer