- if @question.comments.any?
  - @question.comments.each do |comm|
    %p
      %small
        = comm.body
        = link_to 'x', comm, method: :delete, question_id: @question
      %p
  = form_for @new_comment, url: question_comments_path(@question) do |c|
    = c.text_area :body
    %br
      = c.submit 'Submit'