= provide(:title, 'Show question')
.full-question
  .qtitle= @question.title
  .qbody= @question.body
  .question-footer
    %span.user
      = link_to @question.user.email, user_path(@question.user)
    - if current_user == @question.user
      |
      = link_to 'edit', edit_question_path(@question), remote: true
      = link_to 'x', @question, method: :delete, data: { confirm: 'You sure?' }
.comments
  = render 'comments_to_question'
%hr
= render 'shared/bootstrap_edit_form'
.answers
  = render 'answers'
%br
  - if logged_in?
    = simple_form_for @new_answer, url: question_answers_path(@question), remote: true do |a|
      = a.label :body, 'Your answer'
      = a.input :body, label: false, input_html: { rows: 6 }
      = a.button :submit, 'Create'