= provide(:title, 'Show question')
%div.qtitle= @question.title
%p
  %span.qbody
    = @question.body
  = render 'comments_to_question'
%hr
.answers
  = render 'bootstrap_edit_form'
  = render 'answers'
%br
  - if logged_in?
    = simple_form_for @new_answer, url: question_answers_path(@question), remote: true do |a|
      = a.label :body, 'Your answer'
      = a.input :body, label: false
      = a.button :submit, 'Create'