= javascript_include_tag 'answers'

= provide(:title, 'Show question')
= render 'shared/bootstrap_edit_form'
.full-question{data: {id: @question.id}}
  .qtitle= @question.title
  .qbody= @question.body
  = render 'attachments', resource: @question
  .question-footer
    = render 'shared/tags', question: @question
    %span.user
      = link_to @question.user.screen_name, user_path(@question.user)
    - if current_user == @question.user
      |
      = link_to 'edit', edit_question_path(@question), remote: true
      = link_to 'x', @question, method: :delete, data: { confirm: 'You sure?' }
    - if logged_in? && !@subscription
      = link_to 'Subscribe', question_subscriptions_path(@question), method: :post, remote: true
    - else
      = link_to 'Unsubscribe', subscription_path(@subscription), method: :delete, remote: true
  = render 'comments', parent: @question
%hr
.answers
  -#= render 'answers'
%br
  - if logged_in?
    = simple_form_for (@question.answers.build), url: question_answers_path(@question), remote: true do |a|
      = a.label :body, 'Your answer'
      .answer-errors
      = a.input :body, label: false, input_html: { rows: 6 }
      = render 'shared/attachments_form', resource: 'answer'
      = a.button :submit, 'Create'

= subscribe_to "/questions/#{@question.id}/answers" unless Rails.env.test?
= subscribe_to "/questions/#{@question.id}/comments" unless Rails.env.test?