<div class="comment" data-id="{{ id }}">
  <span class="comment-body">
    {{ body }}
  </span>
  by <span class="user"><a href="/users/{{ user.id }}">{{ user.screen_name }}</a></span>
  {{#isCurrentUser user.id}}
    |
    <a class="edit-comment" href="#">edit</a> |
    <a class="remove-comment" data-method="delete" data-remote="true" data-type="json" href="/comments/{{ id }}" rel="nofollow">x</a>
  {{/isCurrentUser}}
</div>