<div class='row'>
  <div class='question'>
    <div class='col-md-1'>
      <div class='circle'>
        {{ answers_count }}
      </div>
      answers
    </div>
    <div class='col-md-11'>
      <span class='title'>
        <a href="/questions/{{ id }}">
          {{ title }}
        </a>
      </span>
      <br />
      <div class='footer'>
        <div class='tags'>
          {{#each tags}}
            {{> _tag }}
          {{/each}}
        </div>
        <span class='user'>
          by
          <a href="/users/{{ user.id }}">{{ user.email }}</a>
        </span>
        <span class='answers-count'>
          |
          <a href="/questions/{{ id }}">{{ answers_count }} answers</a>
        </span>
      </div>
      <hr />
    </div>
  </div>
</div>