<div class="answer">
  {{ body }}
  {{#if attachments}}
    <div class="attachments">
      {{#each attachments}}
        <a class='btn btn-xs btn-default' href="{{ url }}">{{ filename }}</a>
      {{/each}}
    </div>
  {{/if}}
  <div class="answer-footer">
      <span class="time">
        {{relativeTime created_at}}
      </span>
      {{> shared/_user this}}
      {{#isCurrentUser user.id}}
      |
      <a data-remote="true" href="/answers/{{ id }}/edit">edit</a>
      |
      <a data-confirm="You sure?" data-method="delete" href="/answers/{{ id }}" rel="nofollow">x</a>
      {{/isCurrentUser}}
    </div>
    <div class='comments' data-id='{{ id }}' data-resource='answers'>
      {{#each comments }}
        {{> comments/_comment this}}
      {{/each}}
    </div>
    <div class='comment-form'>
      <a data-id="{{ id }}" data-resource="answers" href="#" id="add-comment">add a comment</a>
    </div>
</div>