%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %span#logo
        = link_to root_path do
          = "Stack"
          = image_tag '/images/clown.jpg', height: 30
          = "clown"
      %nav
        = link_to 'Ask question', new_question_path, class: 'btn btn-default navbar-btn', style: 'margin-left: 25px'
        %form.navbar-form.navbar-right{role: 'search', action: '/search', method: 'get'}
          .form-group
            %input.form-control{type: 'text', placeholder: 'Search', name:'q'}
          %button.btn.btn-default{type: 'submit'} Go
        %ul.nav.navbar-nav.pull-right
          - if current_user
            %li= link_to 'Edit Profile', edit_user_path(current_user.id)
            %li= link_to 'Logout', :logout, method: :post
          - else
            %li= link_to 'Register', signup_path
            %li= link_to 'Login', :login