<!DOCTYPE html>
<html>
<head>
  <title>Stackclown</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div id="user-info" style="display: none" data-user-signed="<%= current_user.nil? %>" data-user-id="<%= current_user.id %>"></div>
<div>
  <p id='notice'><%= flash[:notice] %></p>
  <p id='alert'><%= flash[:alert] %></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
        <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
